<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">  
<test thread-count="5" name="Test1">
<classes>      
<class name="com.employerContibution.EM.EM_411_001"/>
</classes>
</test> <!-- Test -->
<test thread-count="5" name="Test2">
<classes>      
<class name="com.employerContibution.EM.EM_310_02_001_Verify_Employer_is_able_to_process_sale_of_business_and_indicate_transfer_total"/>
</classes>
</test> <!-- Test -->
<test thread-count="5" name="Test3">
<classes>      
<class name="com.employerContibution.EM.EM_321_001_csr_edit_corporateDetails"/>
</classes>
</test> <!-- Test -->
<test thread-count="5" name="Test4">
<classes>      
<class name="com.employerContibution.EM.EM_260_001_csr_updatePrimary_address"/>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
